<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker App</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <header>
      <h1>Issue Tracker</h1>
    </header>
    <section style="margin: 30px">
      <h3>Example <code>GET</code> usage</h3>
      <code>/api/issues/{project}</code><br />
      <code>/api/issues/{project}?open=true&amp;assigned_to=Bill</code><br />
      <h3>Example return</h3>
      <pre>
<code>[
  { 
    "_id": "64fa045a86976b012c6cc9d0",
    "issue_title": "Fix error in deleting data",
    "issue_text": "When we try to delete data it has an error.",
    "created_on": "2023-09-06T03:13:13.845Z",
    "updated_on": "2023-09-06T03:13:13.845Z",
    "created_by": "Bill",
    "assigned_to": "Bill",
    "open": true,
    "status_text": "Pending"
  },
  ...
 ]
</code>
</pre>
    </section>
    <hr style="margin: 0 50px" />
    <section id="testui" style="margin-left: 50px">
      <h3>Examples</h3>
      Go to
      <a href="/api/issues/apitest/"><code>/api/issues/apitest/</code></a>
      project
      <h2 style="text-align: left">API Tests</h2>
      <h3>Submit issue on <i>apitest</i></h3>
      <form id="testForm" class="border">
        <input
          type="text"
          name="issue_title"
          placeholder="*Title"
          required=""
        /><br />
        <textarea
          type="text"
          name="issue_text"
          placeholder="*Text"
          required=""
        ></textarea
        ><br />
        <input
          type="text"
          name="created_by"
          placeholder="*Created by"
          required=""
        /><br />
        <input
          type="text"
          name="assigned_to"
          placeholder="(opt)Assigned to"
        /><br />
        <input
          type="text"
          name="status_text"
          placeholder="(opt)Status text"
        /><br />
        <button type="submit">Submit Issue</button>
      </form>
      <br />
      <h3>
        Update issue (Change any or all to update issue on the _id supplied)
      </h3>
      <form id="testForm2" class="border">
        <input
          type="text"
          name="_id"
          placeholder="*_id"
          required=""
        /><br />
        <input
          type="text"
          name="issue_title"
          placeholder="(opt)Title"
        /><br />
        <textarea
          type="text"
          name="issue_text"
          placeholder="(opt)Text"
        ></textarea
        ><br />
        <input
          type="text"
          name="created_by"
          placeholder="(opt)Created by"
        /><br />
        <input
          type="text"
          name="assigned_to"
          placeholder="(opt)Assigned to"
        /><br />
        <input
          type="text"
          name="status_text"
          placeholder="(opt)Status text"
        /><br />
        <label
          ><input type="checkbox" name="open" value="false" /> Check to close
          issue</label
        ><br />
        <button type="submit">Submit Issue</button>
      </form>
      <br />
      <h3>Delete issue</h3>
      <form id="testForm3" class="border">
        <input
          type="text"
          name="_id"
          placeholder="_id"
          required=""
        /><br />
        <button type="submit">Delete Issue</button>
      </form>
      <code><p style="font-size: larger;" id="jsonResult"></p></code>
    </section>
    <hr style="margin: 50px;" />
    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
   <script src="../public/js/main.js"></script>
   <script src="../public/js/makeAjaxRequest.js"></script>
  </body>
</html>
