<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker - Project Page</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <header>
      <h1 id="projectTitle"></h1>
    </header>
    <center>
      <div id="submitNewIssue">
        <br />
        <h3>Submit a new issue:</h3>
        <form id="newIssue" method="post" action="/api/">
          <input type="text" name="issue_title" placeholder="*Title" style="width: 320px; margin-bottom: 3px" required=""/>
          <br />
          <textarea type="text" name="issue_text" placeholder="*Text" style="width: 320px; height: 100px" required=""></textarea
          ><br />
          <input type="text" name="created_by" placeholder="*Created by" style="width: 100px" required=""/>
          <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px"/>
          <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"/>
          <br />
          <button type="submit">Submit Issue</button>
        </form>
      </div>

      <div id="issueContainer"></div>

      <hr style="margin: 50px; margin-top: 200px" />
    </center>

    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
  <script src="../public/js/issue.js"></script>
  <script src="../public/js/utils/createIssueCard.js"></script>
  <script src="../public/js/utils/fetchIssues.js"></script>
  <script src="../public/js/utils/makeAjaxRequest.js"></script>
  
  <script src="../public/js/utils/handleClickIssueContainer.js"></script>
  <script src="../public/js/utils/handleCloseReopenIssue.js"></script>
  <script src="../public/js/utils/handleDeleteIssue.js"></script>
  <script src="../public/js/utils/handleSubmitNewIssue.js"></script>

  </body>
</html>
